//buttons
.start-button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-button {
  border-radius: 8px;
  border: 1px solid #eee;
  font-size: 1.5rem;
  padding: 10px;
  transition: border-color 0.25s;

  opacity: 0.5;
  padding: 20px;
  background: radial-gradient(
    circle,
    rgba(32, 26, 135, 1) 0%,
    rgba(50, 50, 161, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background: rgba(0, 212, 255, 1);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse-black 2s infinite;
  cursor: pointer;
  opacity: 1;

  &.inactive {
    display: none;
  }

  &.small {
    font-size: 0.8rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 1rem;
  }
}

.default-button {
  border-radius: 8px;
  border: 1px solid #eee;
  font-size: 0.8rem;
  padding: 10px;
  transition: border-color 0.25s;
  margin: 0 1rem;
  background: #eee;
  cursor: pointer;

  &:hover {
    border-color: black;
  }
}

.game-gesture-button {
  background: transparent;
  border-radius: 8px;
  border: 1px solid #eee;
  padding: 10px;
  transition: border-color 0.25s;
  height: 40vw;
  width: 40vw;
  max-height: 200px;
  max-width: 200px;
  appearance: none;
  opacity: 0.5;
  padding: 20px;
  background: radial-gradient(
    circle,
    rgba(32, 26, 135, 1) 0%,
    rgba(50, 50, 161, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);

  @media only screen and (max-width: 600px) {
    height: 33vw;
    width: 33vw;
  }
}