html {
  font-size: 16px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
}

body {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 85vh;
}

footer {
  min-height: 20px;
  margin: 20px;
}

h1 {
  color: #fff;
  filter: drop-shadow(5px 5px 10px #000);
  font-size: 2rem;
  line-height: 1.1;
  padding: 0;

  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

h5 {
  color: #fff;
  filter: drop-shadow(1px 1px 0px #000);
  font-size: 2rem;
  padding: 0;
  margin: 0.8rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

h6 {
  color: #4d4d4d;
  padding: 0;
  margin: 0.8rem;
}

svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

svg path {
  fill: #fff;
}
