@use './global';
@use './game/buttons.scss';

.game {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  .game-options {
    display: none;
  }

  .game-replay {
    display: none;
  }


  &[data-game-step='showResult'] {
    .game-result {
      display: flex;
    }

    .game-options {
      display: block;
    }

    .game-canvas-gestures,
    .start-button-wrapper {
      display: none;
    }
  }

  &[data-game-step='startGame'] {
    .start-button-wrapper {
      display: none;
    }
  }

  &[data-game-step='gameStarted'] {
    .game-computer-choice-button {
      display: block;
    }

    .start-button-wrapper {
      display: none;
    }
  }
}

.game-computer-choice-button {
  display: none;
  margin: 20px;
}

.game-header {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-top: 0;
  width: 95%;
}

.game-score {
  margin-bottom: 10px;
}

.game-canvas-gestures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: opacity 0.75s ease-in-out;
  position: relative;
  width: 100%;

  &.active {
    opacity: 1;

    button {
      animation: pulse-black 2s infinite;
      cursor: pointer;
      opacity: 1;

      &:hover {
        border-color: #646cff;
      }
    }
  }
}

.game-gesture-element {
  position: relative;
  width: 40%;

  &:first-child {
    width: 60%;
    justify-content: center;
  }
}

.game-result {
  display: none;
  gap: 20px;
  justify-content: center;
  width: 90%;

  @media only screen and (max-width: 600px) {
    flex-wrap: wrap;

    .game-result-message {
      width: 100%;
      order: 3;
    }
  }

  &-player {
    width: 40%;
  }
}

.game-canvas {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 90%;
}

//Animations
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
